[Desktop Entry]
X-Desktop-File-Install-Version=0.11
Name=Enqueue in Qmmp
Name[ru]=Добавить в Qmmp
Name[uk]=Додати до черги Qmmp
Comment=Add file(s) to the Qmmp playlist
Comment[ru]=Добавить файл(ы) в список Qmmp
Comment[uk]=Додати файл(и) до переліку програвання Qmmp
Exec=qmmp -e %F
Icon=qmmp
Categories=AudioVideo;Player;Audio;Qt;
MimeType=aapplication/x-ogg;audio/mp3;audio/mpeg;audio/x-flac;audio/x-mp3;audio/x-mpeg;audio/x-ms-wma;audio/x-musepack;application/ogg;audio/x-vorbis+ogg;audio/x-scpls;audio/x-mpegurl;audio/x-it;audio/x-mod;audio/x-ape;application/x-cue;inode/directory;
Type=Application
X-KDE-StartupNotify=false
NoDisplay=true
Terminal=false
