Source: qmmp
Section: sound
Priority: optional
Maintainer: Eugene V. Lyubimkin <jackyf@debian.org>
Build-Depends: debhelper (>= 7.0.50), libqt4-dev (>= 4:4.6.0), cmake (>= 2.8.6),
  pkg-config, libasound2-dev [linux-any], libjack-dev (>= 0.102.5),
  libpulse-dev (>= 0.9.15), libvorbis-dev, libmad0-dev, libtag1-dev (>= 1.6),
  libcurl4-gnutls-dev (>= 7.16), libflac-dev (>= 1.1.3),
  libsamplerate0-dev (>= 0.1.2), libmodplug-dev (>= 1:0.8.4),
  libsndfile1-dev (>= 1.0.17), libwavpack-dev (>= 4.41),
  libavcodec-dev (>= 4:0.5.0), libavformat-dev (>= 4:0.5.0),
  libfaad-dev (>= 2.6.1), libprojectm-dev (>= 1.2.0), libmpcdec-dev,
  libqt4-opengl-dev (>= 4.3.0), libcdio-paranoia-dev (>= 0.80),
  libx11-dev, libmms-dev (>= 0.4), libcddb2-dev (>= 1.3.1),
  libwildmidi-dev (>= 0.2.3.4), libgme-dev (>= 0.5.5), libbs2b-dev (>= 3.0.0),
  oss4-dev, libenca-dev
Standards-Version: 3.9.3
Homepage: http://qmmp.ylsoftware.com

Package: qmmp
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, libqmmp0 (>= ${binary:Version}),
  libqmmpui0 (>= ${binary:Version}), libqmmp-misc (>= ${binary:Version})
Suggests: qmmp-plugin-projectm, unzip
Description: feature-rich audio player with support of many formats
 Qmmp is feature-rich audio player with support of many formats.
 It is written in Qt.
 .
 Audio formats supported:
  - FLAC;
  - Ogg Vorbis;
  - MPEG1 layer 1/2/3;
  - AAC;
  - CUE sheet;
  - WavePack.
  - Musepack;
  - CD audio;
  - FFmpeg-supported formats;
  - midi;
  - chiptune formats (AY, GBS, GYM, HES, KSS, NSF, NSFE, SAP, SPC, VGM,
    VGZ, VTX).
 .
 Audio output through:
  - ALSA;
  - OSS;
  - PulseAudio;
  - JACK.
 .
 DSP effects:
  - BS2B effect;
  - sample rate converter;
  - LADSPA effects;
  - extra stereo;
  - crossfade.
 .
 Features:
  - winamp and XMMS skins support;
  - plugins support;
  - last.fm scrobbler;
  - spectre analyzer;
  - rediscretization;
  - video playback via mplayer;
  - MPRIS (1.0 and 2.0) support;
  - lyrics (using lyrics.wikia.com);
  - removable device detection;
  - global hotkeys;
  - projectm visualization;
  - mms support;
  - multiple playlists;
  - cover art support;
  - ReplayGain support;
  - streaming Ogg Vorbis or MP3 via IceCast/ShoutCast.
  - audio converter;
  - stream browser;
  - audio formats converter.

Package: libqmmp-misc
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: qmmp (= ${binary:Version}), udisks [linux-any], hal [!linux-any]
Description: qmmp audio player -- plugins and auxiliary libraries
 Qmmp is feature-rich audio player with support of many formats.
 It is written in Qt.
 .
 See 'qmmp' package for full description.
 .
 This package contains plugins and non-core functionality for qmmp.

Package: libqmmp0
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: qmmp (= ${binary:Version})
Description: qmmp audio player -- runtime library
 Qmmp is feature-rich audio player with support of many formats.
 It is written in Qt.
 .
 See 'qmmp' package for full description.
 .
 This package contains the main shared library used by qmmp.

Package: libqmmpui0
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Suggests: qmmp (= ${binary:Version})
Description: qmmp audio player -- user interface library
 Qmmp is feature-rich audio player with support of many formats.
 It is written in Qt.
 .
 See 'qmmp' package for full description.
 .
 This package contains the user interface routines used by qmmp.

Package: libqmmp-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libqmmp0 (= ${binary:Version})
Description: qmmp audio player -- runtime library (development files)
 Qmmp is feature-rich audio player with support of many formats.
 It is written in Qt.
 .
 See 'qmmp' package for full description.
 .
 This package contains development files for libqmmp library.
 See description of 'libqmmp0' package.

Package: libqmmpui-dev
Section: libdevel
Architecture: any
Depends: ${misc:Depends}, libqmmpui0 (= ${binary:Version}), libqmmp-dev
Description: qmmp audio player -- user interface library (development files)
 Qmmp is feature-rich audio player with support of many formats.
 It is written in Qt.
 .
 See 'qmmp' package for full description.
 .
 This package contains development files for libqmmpui library.
 See description of 'libqmmpui0' package.

Package: qmmp-plugin-projectm
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: qmmp audio player -- projectM visualization plugin
 Qmmp is feature-rich audio player with support of many formats.
 It is written in Qt.
 .
 See 'qmmp' package for full description.
 .
 This package contains projectM visualization plugin for qmmp.
