#!/usr/bin/make -f
# -*- makefile -*-

DEB_HOST_ARCH_OS ?= $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)
DEBDIR=debian/tmp

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
	MAKE_AUX_FLAGS = -j$(NUMJOBS)
endif

ifeq ($(DEB_HOST_ARCH_OS),linux)
	EXTRA_CMAKE_ARGS = -DUSE_HAL:BOOL=FALSE -DUSE_UDISKS2=FALSE -DUSE_UDISKS=TRUE -DUSE_OPUS=FALSE
else
	EXTRA_CMAKE_ARGS = -DUSE_ALSA:BOOL=FALSE -DUSE_UDISKS:BOOL=FALSE
endif

%:
	dh $@

override_dh_auto_configure:
	cmake -DCMAKE_INSTALL_PREFIX=/usr $(EXTRA_CMAKE_ARGS)

override_dh_auto_build:
	dh_auto_build -- $(MAKE_AUX_FLAGS)

override_dh_install:
	dh_install -pqmmp-plugin-projectm
	dh_install -Xprojectm

